
.card-projects-list{
    display: flex;
    flex-direction: row;
    padding: 25px;
    border-radius: 25px;
    height: 450px;
    gap: 25px;

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}
.card-projects-list::-webkit-scrollbar-thumb{
    background: var(--color-secondary);
    border-radius: 100px;
    border: 3.5px solid var(--color-primary);
}
.card-projects-list::-webkit-scrollbar{
    background: var(--color-background);
    border-radius: 100px;
    color: #000;
}
.card-project-element{
    text-decoration: none;
    width: 400px;
    max-width: 400px;
    min-width: 320px;
    border-radius: 25px;
    scroll-snap-align:center;   
    transition: 0.2s;
    box-shadow: 0px 0px 7px 0px var(--color-primary);
}

.card-project-element:hover{
    box-shadow: 0px 0px 11px 3px var(--color-primary);
}

.card-project-element-presentation{
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border: 1px solid var(--color-primary);
}
.card-project-element-presentation img{
    
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}
.card-project-element-technologies{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 4px;
    gap: 4px;

    bottom: 0;
    left: 30%;
    right: 0;
}

.card-project-element-technologies svg{
    width: 42px;
    height: 42px;
}


.card-project-element-descriptions{
    padding: 15px;
    overflow: hidden;
}

.card-project-element-descriptions p{
    font-size: clamp(16px, 18px, 20px);
}