:root{
  --color-primary:#5b52df;
  --color-secondary:#121212;
  --color-background:#1f1f1f;
  
}

@media (min-width: 320px) and (max-width: 480px){
  section{
    flex-direction: column;
  }
  *{
    padding: 0;
  }
  section.grid{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    width: 95%;
  }
  div.card{
    padding: 25px;
  }
}

@media (min-width: 481px) and (max-width: 1024px){
  section{
    flex-direction: column;
  }
  *{
    padding: 0;
  }
  section.grid{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    width: 85%;
  }
  div.card{
    padding: 25px;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;

  color: var(--color-primary);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
section{
  display: flex;
  
}
p{
    text-wrap: pretty;
}
.button-mode{
  position: absolute;
  top: 50px;
  right: 50px;

  width: 75px;
  height: 75px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;


  outline: 0px solid;
  border: 0px solid;
  background: var(--color-secondary);
  box-shadow:0px 0px 7px 0px var(--color-primary);
  transition: 0.2s;

  cursor: pointer;
  z-index: 1000;
}
.button-mode:hover{
  box-shadow:0px 0px 11px 3px var(--color-primary);
}

.button-mode:active{
  width: 90px;
  height: 90px;
  
  top: 42.5px;
  right: 42.5px;
  box-shadow:0px 0px 14px 5px var(--color-primary);
}
.button-mode svg{
  width: 65%;
  height: 65%;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-background);
  padding: 50px 0px;
  min-height: 150dvh;
  
  width: 100%;
  gap: 50px;

}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
  justify-content: center;
  gap:50px;
  width: 60%;

}
.card{
  min-height: 100%;
  width: 100%;
  padding: 50px;

  border-radius: 25px;
  background: var(--color-secondary);
  box-shadow:0px 0px 7px 0px var(--color-primary);
}
.tittle{
  font-size: 36px !important;
  font-weight: bolder;
}

.card-projects { 
  width: 100%;
  grid-column: 2 span;
}

.card-skills{
  width: 100%;
  display: grid;
  list-style: none;

  gap:15px;
  grid-template-columns: repeat(auto-fit, minmax(125px,1fr));
}

.card-skills li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  background: var(--color-secondary);
  box-shadow: 0px 0px 7px 1px var(--color-primary);
  padding:25px;
  gap: 5px;

  font-weight: bold;
}
.card-skills svg{
  width: 64px;
  height: 64px;
}